.container-signin {
  padding: 4%;
  background-color: #fff;
  border-radius: 5%;
  border: 2px solid #777;
  opacity: 0.8;
  justify-content: flex-end;
  box-shadow: 20px 20px 5px black;
}

.button-signin-entrar, .no-tienes-una-cuenta, .error-message {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registrate-signin, span {
  margin-left: 10px;
  color: #2C2C54;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

.error-message {
  font-size: 14px;
  font-weight: bold;
  color: red;
}
