.loading-recipe-row {
  display: flex;
  margin-top: 100px;
}

.loading-recipe-col {
  text-align: center;
}

.container-view-recipe {
  background-color: rgba(240, 240, 240, 0.973);
  border-radius: 20px;
  margin-top: 10%;
  font-family: sans-serif;
}

.row-view-picture-recipe, .row-view-title-recipe {
  display: flex;
}

.row-view-title-recipe, .row-message-success {
  margin-top: 15px;
}

.row-message-success {
  color: green;
  font-weight: bold;
}

.success-op {
  width: 25px;
  margin-right: 10px;
}

.col-view-picture-recipe, .col-view-title-recipe, .col-message-success {
text-align: center;
}

.img-recipe {
  width: 60%;
  border-radius: 20px;
  margin-top: 3%;
  box-shadow: 15px 15px 5px rgb(190, 190, 190);
  margin-bottom: 4%;
}

.row-message-sucess {
  display: flex;
}

.btns {
  display: flex;
}

.btn-like {
  text-align: center;
}

.btn-group {
  margin: 5px;
}


.col-view-title-recipe {
  font-size: 30px;
}

.ingredients-list {
  border-radius: 20px;
}

.item-lista-ingredients {
  padding-left: 20px;
}

.description-recipe {
  padding: 5%;
}

.row-dates-recipe {
  display: flex;
  margin-bottom: 15px;
}

span {
  font-weight: bold;
}


.user-name, .recipe-level, .recipe-points {
  text-align: center;
}

@media (min-width: 323px) and (max-width: 600px) {
  .container-view-recipe {
    margin-top: 14%;
    border-radius: 0px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .img-recipe {
    width: 90%;
    border-radius: 20px;
    margin-top: 3%;
    box-shadow: 15px 15px 5px rgb(190, 190, 190);
    margin-bottom: 4%;
  }
}

@media (min-width: 575px) and (max-width: 600px) {
  .container-view-recipe {
    margin-top: 9.5%;
    border-radius: 0px;
    padding-top: 20px;
  }
  .img-recipe {
    margin-top: 6%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .container-view-recipe {
    margin-top: 15%;
    padding-top: 15px;
    margin-bottom: 60px;
  }
  .img-recipe {
    width: 90%
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .container-view-recipe {
    margin-top: 12%;
    padding-top: 15px;
    margin-bottom: 60px;
  }
  .img-recipe {
    width: 85%
  }
}

@media (min-width: 690px) and (max-width: 1199px) {
  .container-view-recipe {
    margin-top: 12%;
    padding-top: 15px;
    margin-bottom: 80px;
  }
  .img-recipe {
    width: 70%
  }
}

@media (min-width: 690px) and (max-width: 1280px) {
  .container-view-recipe {
    margin-top: 12%;
    padding-top: 15px;
    margin-bottom: 80px;
  }
  .img-recipe {
    width: 60%
  }
}

@media (min-width: 690px) and (max-width: 1500px) {
  .container-view-recipe {
    margin-top: 12%;
    padding-top: 15px;
    margin-bottom: 80px;
  }
  .img-recipe {
    width: 60%
  }
}
