.header-profile {
  margin-top: 0%;
  margin-right: 0;
  align-items: flex-start;
}

.alinear-items-top {
  display: flex;
  align-items: flex-start;
}

.datos-perfil {
  align-self: baseline;
}

.profile-card {
  text-align: -webkit-right;
}

.btn-edit-profile {
  text-align: end;
}

.edit-photo {
  cursor: pointer;
  width: 20px;
}

.cancel-photo {
  margin-left: 8%;
  cursor: pointer;
}

.input-file {
  display: none;
}

.container-myrecipes {
  display: block;
  font: -webkit-small-control;
  background-color: rgba(240, 240, 240, 0.795);
  border-radius: 15px;
  margin-bottom: 6%;
  margin-top: 4%;
}

.contenedor-dos {
  display: block;
}

.alert-myrecipes {
  margin-top: 30px;
  text-align: center;
}

.btn-loading {
  text-align: center;
}

.spinner-load-my-recipes {
  margin-right: 15px;
}

.cards-individual {
  display: flex;
  width: 100%;
}